body {
    text-align: center;
}

#div1 {
    width: 600px;
    height: 600px;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -300px;
    position: absolute;
    background-image: url("../image/snakegamebackground.jpg");
    z-index: -1;
}

#signInandUp {
    float: right;
}

#signUp {
    display: none;
}

#signIn {
    display: none;
}


/*#div2 {
    width: 20px;
    height: 20px;
    background: green;
    position: absolute;
    left: 50%;
    top: 50%;
}*/
