body {
    text-align: center;
}

#div1 {
    width: 600px;
    height: 600px;
    left: 5%;
    top: 10%;
    position: absolute;
    background-image: url("../image/snakegamebackground.jpg");
    z-index: -1;
}

#signInandUp {
    float: right;
}

#signUp {
    display: none;
}

#signIn {
    display: none;
}

.box {
    width: 300px;
    position: absolute;
    top: 20%;
    left: 70%;
    margin-left: -150px;
    border: 1px solid green;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgreen;
}

.box table {
    margin: auto;
    width: 250px;
}

.box table thead {
    background: green;
    text-align: center;
    line-height: 30px;
    -webkit-user-select: none;
}

.box thead tr th {
    width: 100px;
}

.box tbody tr td {
    width: 100px;
    height: 30px;
    text-align: center;
}

.box tbody tr.bg {
    background: lightgreen;
}

.box thead tr th.cursor {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover, a:active, a:target, a:visited {
    text-decoration: none;
    color: #000;
}

#goLink {
    display: none;
    font-size: 10px;
    position: fixed;
    bottom: 100px;
    right: 50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: red;
    border-radius: 50%;
}

#aContent {
    position: absolute;
    top: 800px;
}


/*#div2 {
    width: 20px;
    height: 20px;
    background: green;
    position: absolute;
    left: 50%;
    top: 50%;
}*/
